body {
    background-color: beige;
    user-select: none;
}

#globalBoard,
#sidePanel {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

#globalBoard {
    border: 1px solid black;
    font-size: 0;
    margin-right: 30px;
}

.localBoard {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}

.localBoard.completed {
    width: 111px;
    height: 110px;
    background-color: white;
    font-size: 50px;
    text-align: center;
    line-height: 110px;
}

.square {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 1px solid #999;
    color: #999;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}

.required .square {
    background-color: #add8e6;
}

#instructions {
    width: 325px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
}

#message {
    color: #ff4c00;
    font-size: 50px;
    margin: 0px;
}
